---
export const prerender = false

import Base from '../layouts/Base.astro'
import { getPosts } from '../lib/config'
import { render } from '../lib/markdown'

const posts = await getPosts(Astro.locals)

const formatHref = (href: string) => {
  if (href.startsWith('http') || href.startsWith('/')) return href
  if (href.startsWith('blogs/')) return '/' + href
  return '/blogs/' + href
}
---

<Base title="blogs">
  <h1>blogs</h1>
  <ul data-type="writing-list">
    {posts.map(p => (
      <li>
        <div data-type="writing-row">
          <span data-type="writing-date">{p.date}</span>
          <a href={formatHref(p.href)}>{p.title}</a>
        </div>
        <div data-type="writing-summary" set:html={render(p.summary)} />
      </li>
    ))}
  </ul>
</Base>
