---
export const prerender = false

import Base from '../layouts/Base.astro'
import ProjectCard from '../components/ProjectCard.astro'
import { getProjects } from '../lib/config'

const projects = await getProjects(Astro.locals)
---

<Base title="projects">
  <h1>projects</h1>
  {projects.map(p => <ProjectCard project={p} />)}
</Base>
